[submodule "glfw"]
	path = glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "iara_GE/vendor/glm"]
	path = iara_GE/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "iara_GE/vendor/imgui"]
	path = iara_GE/vendor/imgui
	url = https://github.com/revokr/imgui.git
[submodule "iara_GE/vendor/ImGuizmo"]
	path = iara_GE/vendor/ImGuizmo
	url = https://github.com/revokr/ImGuizmo.git
[submodule "iara_GE/vendor/yaml-cpp"]
	path = iara_GE/vendor/yaml
	url = https://github.com/revokr/yaml-cpp.git
[submodule "iara_GE/vendor/yaml"]
	path = iara_GE/vendor/yaml
	url = https://github.com/revokr/yaml-cpp.git
